body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    color: #111;
    font-size: 2em;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 1em;
    cursor: pointer;
}

#areaJogo {
    margin-top: 30px;
}
